h1{
    text-align: center;
}
#first{
    background-color: rgb(127, 210, 238);
    border: 2px solid black;
}
#second{
    border:2px solid black;
    background-color: lightcyan;
    margin:0% 10% 0% 10%;
}
p{
    margin-left: 20px;
    text-shadow: 0cap;
}
#details{
    margin-left: 30%;
}
#Name{
    text-align: center;
    border-radius: 5px;
    width:max-content;
    height:30px;
}
#email{
    text-align: center;
    border-radius: 5px;
    width:max-content;
    height:30px;
}
#age{
    text-align: center;
    border-radius: 5px;
    width:180px;
    height:30px;
}
#role, #recommend, #likes, #improvement{
    margin:2%;
}
#role2{
    text-align: center;
    border-radius: 5px;
    width:max-content;
    height:30px;
}
#MayBe{
    margin-left: 35%;
}
#NotSure{
    margin-left: 35%;
}
#select{
    text-align: center;
    border-radius: 5px;
    width:180px;
    height:30px;
}
#improve{
    margin-left:35%;
    margin-top: 0%;
}
#btn{
    background: 2px solid black;
    width:15px;
    color: aliceblue;
}