#container1{
    width:100vw;
    height:100vh ;
    display:flex;
    flex-direction: row; 
 }
 #container1 button{
     width:100px;
     height: 100px;
     margin-left: 80px;
     margin-top: 100px;
 }
 #container1 button:hover{
     background-color: gray;
     color:white;
     cursor: pointer;
 }
body{
  background:gray;
  padding:20px;
}

h2{
  margin-left: 40%;
  font-size: 50px;
}
.container{
  display:flex;
  flex-wrap:no-wrap;
  gap:10px;
}

.user-card{
  background:#fff;
  width:250px;
  padding:10px;
  text-align:center;
}

.user-card img{
  width:250px;
  height:150px;
  object-fit:cover;
}

.user-card h4{
  margin:10px 0;
}

button{
  cursor:pointer;
  background:black;
  color:#fff;
}

button:hover{
  background:gray;
}

.details{
  margin-top:30px;
  background:white;
  padding:20px;
  width:500px;
  border-radius:8px;
  box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

input{
  width:100%;
  padding:6px;
  margin:10px 0;
}

.success{ 
    color:green;
 }
.error{ 
    color:red;
 }

